[user]
    name = Lelani
    email = lelaniparker@hotmail.com
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current